<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter publication</title>
</head>
<body>
        <h1>Ajouter une publication:</h1>
        <form action= "#" th:action="@{/addPublication}"th:object="${publication} "method="post">
<!--           <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
            <label for="id">Id</label>
            <input type="text"th:field="*{id}"id="id"placeholder="ID"><br>
            <label for="id">Titre</label>
            <input type="text"th:field="*{titre}"id="titre"placeholder="Titre"><br>
            <label for="id">Date</label>
            <input type="text"th:field="*{date}"id="date"placeholder="Date"><br>
            <label for="id">version Numerique</label>
            <input type="text"th:field="*{versionNum}"id="versionNum"placeholder="VersionNum"><br>
            <label for="id">Resume</label>
            <input type="text"th:field="*{resume}"id="resume"placeholder="Resume"><br>
            <label for="id">Categorie</label>
            <input type="text"th:field="*{categorie}"id="categorie"placeholder="Categorie"><br>
            <label for="id">Discipline</label>
            <input type="text"th:field="*{discipline}"id="discipline"placeholder="Discipline"><br>
            <input type="submit" value="Ajouter">
        </form>
<br/>
</body>
</html>