<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
<div th:switch="${auteurs}">
    <h2 th:case="null">No Autors yet!</h2>
    <div th:case="*">
         <h2>Auteurs</h2>
        <form th:action="@{/getAuteur}" method="get">
            <input id="txtSearch" type="text" name="name" >
            <button type="submit">chercher</button>
        </form>
         <table>
             <thead>
             <tr>
                 <th>id</th>
                 <th>nom</th>
                 <th>prenom</th>
                 <th>date de naissance</th>
                 <th>adresse</th>
                 <th>grade</th>
                 <th>organisme</th>
                 <th>Delete</th>
             </tr>
             </thead>
             <tbody>
             <tr th:each="auteur : ${auteurs}">
                 <td th:text="${auteur.id}"></td>
                 <td th:text="${auteur.nom}"></td>
                 <td th:text="${auteur.prenom}"></td>
                 <td th:text="${auteur.dateNaissance}"></td>
                 <td th:text="${auteur.addresse}"></td>
                 <td th:text="${auteur.grade}"></td>
                 <td th:text="${auteur.Organisme}"></td>
             </tr>
             </tbody>
         </table>
     </div>
</div>
</div>
</body>
</html>