<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
        table{
            border-collapse: collapse
        }

        td{
            border: 1px solid black;
            padding: 10px;
        }
        h4 {
            text-align: center;
            margin: 0;
        }
    </style>
    <meta charset="UTF-8">
    <title>count</title>
</head>
<body>
<div align="center">
    <h1>liste des publications par auteur </h1><br>
    <div th:switch="${publication}">
        <h2 th:case="null">aucune publication</h2>
        <div th:case="*">
            <h4>Le nombre de publication de l'auteur   :<h4 th:text="${auteur}"  ></h4> <h4>  est :   </h4><h4 th:text="${valeur}"></h4></h4></h4><br>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>VersionNum</th>
                    <th>Resume</th>
                    <th>Categorie</th>
                    <th>Discipline</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pub : ${publication}">
                    <td th:text="${pub.id}"></td>
                    <td th:text="${pub.titre}"></td>
                    <td th:text="${pub.date}"></td>
                    <td th:text="${pub.versionNum}"></td>
                    <td th:text="${pub.resume}"></td>
                    <td th:text="${pub.categorie}"></td>
                    <td th:text="${pub.discipline}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>