<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste des publications</title>
</head>
<body>
        <h1>liste des publications</h1>
        <div th:switch="${publication}">
            <h2 th:case="null">aucune publication</h2>
            <div th:case="*">
                 <h2>Publications</h2>
                 <table>
                     <thead>
                     <tr>
                         <th>ID</th>
                         <th>Titre</th>
                         <th>Date</th>
                         <th>VersionNum</th>
                         <th>Resume</th>
                         <th>Categorie</th>
                         <th>Discipline</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr th:each="pub : ${publication}">
                         <td th:text="${pub.id}"></td>
                         <td th:text="${pub.titre}"></td>
                         <td th:text="${pub.date}"></td>
                         <td th:text="${pub.versionNum}"></td>
                         <td th:text="${pub.resume}"></td>
                         <td th:text="${pub.categorie}"></td>
                         <td th:text="${pub.discipline}"></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
        </div>
</body>
</html>