<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste des publications</title>
</head>
<body>
<div align="center">
        <h1>liste des publications</h1><br>
        <div th:switch="${publication}">
            <h2 th:case="null">aucune publication</h2>
            <div th:case="*">
                 <h2>Publications</h2>
                <form th:action="@{/getPublication}" method="get">
                Chercher par titre<input id="titreSearch" type="text" name="titre" >
                    <button type="submit">chercher</button>
                </form>
               <form th:action="@{/getPublication}" method="get">
                   Chercher par categorie<input id="categSearch" type="text" name="categorie" >
                    <button type="submit">chercher</button>
               </form>
                <form th:action="@{/getPublication}" method="get">
                    Chercher par discipline<input id="disSearch" type="text" name="discipline" >
                    <button type="submit">chercher</button>
                </form>
                <form th:action="@{/getPublication}" method="get">
                    Chercher par auteur<input id="autSearch" type="text" name="auteur" >
                    <button type="submit">chercher</button>
                </form>
                    <table>
                     <thead>
                     <tr>
                         <th>ID</th>
                         <th>Titre</th>
                         <th>Date</th>
                         <th>VersionNum</th>
                         <th>Resume</th>
                         <th>Categorie</th>
                         <th>Discipline</th>
                        <th>Auteur</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr th:each="pub : ${publication}">
                         <td th:text="${pub.id}"></td>
                         <td th:text="${pub.titre}"></td>
                         <td th:text="${pub.date}"></td>
                         <td th:text="${pub.versionNum}"></td>
                         <td th:text="${pub.resume}"></td>
                         <td th:text="${pub.categorie}"></td>
                         <td th:text="${pub.discipline}"></td>
                         <td th:text="${pub.auteur}"></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
        </div>
</div>
</body>
</html>